*.snapshot
*.orig
!/.gitignore
bin/*
project/target/*
project/project/
project/scala*/
target/*
.tags
graph-data/
log_messages.txt
references.nt
web-BerkStan.txt

web-BerkStan.txt.gz

web-split-*

.cache

.classpath

.project

.sbtconfig

.settings/org.scala-ide.sdt.core.prefs

*.class

deployment.config
/bin
/signalcollect-tobi.pem
/signalcollect.pem
/tentacle-yarn-testing.conf
/tentacle-yarn.conf
/leader-yarn.conf
/leader-yarn-testing.conf
/amazon-yarn.conf
/twitter_rv.net
/twitter_rv.net.gz
/twitter.tar.gz
/twitter.txt
/twitter.txt.gz
/target/
