# This is an example deployment configuration.
# The actually used configuration has the be named deployment.config
deployment {
	yarn {
		resourcemanager{
			host = "127.0.0.1"
		}
	}
	jvm {
		
	}
	setup {
		#copy-files = [
        #    {
        #        local-path = "./some-local-file-name"
        #        remote-path = "~/some-remote-file-name"
        #    }
		#]
	}
	algorithm {
		class = "com.signalcollect.deployment.PageRankExample"
		parameters {
			"some-parameter-name" = "some-parameter-value"
		}
	}
}
